#Ignore all files
*

# Keep the .gitignore itself
!.gitignore

# Keep the README (common filename is README.md)
!README.md


# Keep the project folder and the program C# file.
!MemoryManagementProject
!MemoryManagementProject/Program.cs